.header {
  display: flex;
  width: 80%;
  height: 60px;
  background-color: orange;
  margin: 10px auto;
  border-radius: 70px;
  padding: 0 90px;
  align-items: center;
}

.header--logo {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 2em;
}

.header--menu-container {
  display: block;
  margin: 40px 0;
  justify-content: space-between;
  justify-self: end;
  width: 15%;
  margin-left: auto;
  font-weight: 600;
  color: black;
  font-size: 1.5em;
  cursor: pointer;
}

.header--logo:hover {
    color: white;
}

.header--menu-container--item:hover {
  color: white;
  transition: all 500ms;
}

.header--logout-btn {
  width: 100%;
}